VITE_FIREBASE_API_KEY=AIzaSyA3MOFGFo3Wv_OjBLgaSibv5z2jAgf3D_Y
VITE_FIREBASE_AUTH_DOMAIN=appybingo.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=appybingo
VITE_FIREBASE_STORAGE_BUCKET=appybingo.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=576066235044
VITE_FIREBASE_APP_ID=1:576066235044:web:d4b3fa403efd5d886bd431